$navbar-default-bg: #1a1a1a;

@import "bootstrap-sprockets";
@import "bootstrap";

.center{
  text-align: center;
}
.navbar{
  border-radius: 0;
  .navbar-brand{
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}
.jumbotron{
  h1{
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0 0 .25em;
  }
  .btn{
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
  }
}
.article-meta-details{
  border-top: 1px solid #ddd;
  margin-top: 1em;
  padding-top: 1em;
}
.listing{
  margin: 0;
  padding: 0;
  li{
    list-style: none;
  }
  img{
    margin: 0 auto 1em;
  }
}
.badge{
  background-color: #1a1a1a;
  text-transform: uppercase;
  letter-spacing: -1px;
  > a{
    color: #fff;
  }
}
.input_checkbox input{
  width: auto !important;
}